.accessibility {
  opacity: 0;
  display: block;
  /* Размеры необходимы для доступа скринридеров */
  width: 1px;
  height: 1px;
  color: transparent;
  /* Опустим скрытый элемент вниз, т.к. иначе при наведении мышки на данный
  безрамерный элемент курсор превращался из руки в обычное состояние */
  /* z-index: -1; */
  /* Однако если вынести скрытый label за пределы родителя, то проблемы с
  пропаданием режима pointer не будет
  САМОЕ ГЛАВНОЕ - убирается гориз. скролл! -_- */
  position: absolute;
  top: 0;
  left: -100vw;
}
