.profile__username {
  margin: 0 0 8px;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14286;
  /* Если дать абзацу с именем больше процентов ширины, то
  кнопка редактирования профиля передеет на новую строку на
  некоторых ширинах экрана */
  max-width: 81%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-shrink: 0;
}

@media screen and (max-width: 1024px) {
  .profile__username {
    font-size: 35px;
    line-height: normal;
  }
}

@media screen and (max-width: 970px) {
  .profile__username {
    padding-left: 27px;
    margin-bottom: 6px;
  }
}

@media screen and (max-width: 650px) {
  .profile__username {
    font-size: 27px;
  }
}
