.profile {
  max-width: 68.75%;
  padding: 40px 0 25px;
  display: flex;
  align-items: start;
  justify-content: flex-start;
  column-gap: 30px;
}

@media screen and (max-width: 970px) {
  .profile {
    max-width: 88.125%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px 0 36px;
  }
}
