.pop-up__container_type_profile {
  width: 430px;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 650px) {
  .pop-up__container_type_profile {
    width: 340px;
    padding: 26px 22px 25px;
  }
}

@media screen and (max-width: 414px) {
  .pop-up__container_type_profile {
    width: 282px;
  }
}
