.profile__add-button {
  background-color: transparent;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  transition: opacity .2s ease-in;
  color: #fff;
  font-size: 28px;
  line-height: 1;
  margin-top: calc(var(--profile-info-indent-top) + 13px);
  background-image: url(../../../images/button-add.svg);
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: .6;
}

.profile__add-button:active {
  opacity: 1;
}

@media screen and (max-width: 970px) {
  .profile__add-button {
    width: 282px;
    background-size: 17px 17px;
  }
}
