.elements__list {
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
}

/* Гениальное решение!
https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid/33375496#33375496
Внутрь элемента с данным классом в самом конце (после всех детей) добавится
псевдоэлемент. Его размеры заданы такими же, как у остальных детей, т.е.
как у элементов с классом element (без s на конце). Таким образом это не ломает
положение последних карточек в том случае, когда их 2 или 1 штука, ведь
justify-content: center выровняет всех детей посередине, а выровнять отдельное дитё
вдоль главной флекс-оси нельзя, но можно в grid.
Я не хотел менять на grid, т.к. хотел представить себя в мире, когда гриды ещё не придумали
*/
.elements__list::after {
  /* Помнишь, да? Без content псевдоэлемент не отрисуется
  Нужно обязательно указать, можно и пустой. А мне такой и нужен */
  content: '';
  flex-grow: 1;
  min-width: 282px;
  max-width: 340px;
  flex-basis: 282px;
}
