.elements__list {
  max-width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 17px;
  justify-content: center;
}

/* Решение по прижатию последнего ряда флекс-ряда влево, если в целом флекс выровнен посередине
https://stackoverflow.com/questions/18744164/flex-box-align-last-row-to-grid/33375496#33375496
Внутрь элемента с данным классом в самом конце (после всех детей) добавится
псевдоэлемент. Его размеры заданы такими же, как у остальных детей, т.е.
как у элементов с классом element (без s на конце). Таким образом это не ломает
положение последних карточек в том случае, когда их 2 или 1 штука, ведь
justify-content: center выровняет всех детей посередине, а выровнять отдельное дитё
вдоль главной флекс-оси нельзя, но можно в grid.
Я не хотел менять на grid, т.к. хотел представить себя в мире, когда гриды ещё не придумали
*/
.elements__list::after {
  /* Помнишь, да? Без content псевдоэлемент не отрисуется
  Нужно обязательно указать, можно и пустой. А мне такой и нужен */
  content: '';
  min-width: 282px;
  /* Зададим макс. размер призрака как макс. размер двух карточек + gap */
  max-width: calc(282px * 2 + 17px);
  /* Данный эпмирический коэффициент позволит псевдоэлементу расти таким образом,
  чтобы карточки последнего ряда были одинакового размера с остальными (282px)
  Без него когда в последнем ряду не хватает одной карточки - всё выглядит норм,
  когда не хватает двух карточек - вёрстка ломается
  Его изменения даже на несколько сотен единиц меняет размер лишь на несколько сотых пикселя (и чем выше его значение, тем меньше эффект) */
  flex-grow: 74368;
}

/* На данном разрешении экрана карточки перестраиваются по две в ряд,
однако по бокам в каждом ряду есть свободное место в родителе, потому призрак начнет его занимать →
ограничим его как и остальные карточки */
@media screen and (max-width: 1279px) {
  .elements__list::after {
    /* Максимальный размер карточек */
    max-width: 380px;
  }
}

/* На данном разрешении ширина родителя становится равна ширине двух карточек + зазору между ними
380*2+17=777, что является  777/1131 = 0,687 → 68,7% (ширина родителя – elements)
Значит при дальнейшем сужении родителя:
    - карточки резинятся, но призрак обладает большим коэф. роста
    - призрака надо ограничить в своём росте, см. calc (половина ширины родителя и минус зазор между колонками) */
@media screen and (max-width: 1131px) {
  .elements__list::after {
    max-width: calc((100% - 17px) / 2);
  }
}
